<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>여기서는 우리모두 슬롯게임을 즐겨보자구요 나중에 슬라이드될거에요</h2>
                <p>여기 뒤로도 이미지 하나 드가면 좋을듯 한데... 그냥 클릭만하면 참 잘되요 ... 머시라머시라 문구가 필요합니다.</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->





<div class="section text-center">

    <!-- Page Content -->
    <div class="container">

        <div>
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#service-one" data-toggle="tab">Service One</a>
                </li>
                <li><a href="#service-two" data-toggle="tab">Service Two</a>
                </li>
                <li><a href="#service-three" data-toggle="tab">Service Three</a>
                </li>
                <li><a href="#service-four" data-toggle="tab">Service Four</a>
                </li>
                <li><a href="#service-five" data-toggle="tab">Service Five</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="service-one">

                    <div class="row">

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h1>나슬롯이야</h1>
                            <p>설명을 넣을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h2>나도슬롯이야</h2>
                            <p>아이콘이 낳을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h3>Service Three</h3>
                            <p>ios html5 flash</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h4>나슬롯이야</h4>
                            <p>andriod 아이콘</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h5>나도슬롯이야</h5>
                            <p>아이콘이 낳을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h3>Service Three</h3>
                            <p>ios html5 flash</p>
                        </div>



                    </div>


                    이거 이렇게 말고 웹으로 걍 밑으로 쭉쭉 알아서 넘어가서 떨이지게 되던뎅 그러면 될듯
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h1>나슬롯이야</h1>
                            <p>설명을 넣을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h2>나도슬롯이야</h2>
                            <p>아이콘이 낳을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h3>Service Three</h3>
                            <p>ios html5 flash</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h4>나슬롯이야</h4>
                            <p>andriod 아이콘</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h5>나도슬롯이야</h5>
                            <p>아이콘이 낳을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h3>Service Three</h3>
                            <p>ios html5 flash</p>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h1>나슬롯이야</h1>
                            <p>설명을 넣을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h2>나도슬롯이야</h2>
                            <p>아이콘이 낳을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h3>Service Three</h3>
                            <p>ios html5 flash</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h4>나슬롯이야</h4>
                            <p>andriod 아이콘</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h5>나도슬롯이야</h5>
                            <p>아이콘이 낳을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h3>Service Three</h3>
                            <p>ios html5 flash</p>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h1>나슬롯이야</h1>
                            <p>설명을 넣을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h2>나도슬롯이야</h2>
                            <p>아이콘이 낳을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h3>Service Three</h3>
                            <p>ios html5 flash</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h4>나슬롯이야</h4>
                            <p>andriod 아이콘</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h5>나도슬롯이야</h5>
                            <p>아이콘이 낳을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h3>Service Three</h3>
                            <p>ios html5 flash</p>
                        </div>



                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h1>나슬롯이야</h1>
                            <p>설명을 넣을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h2>나도슬롯이야</h2>
                            <p>아이콘이 낳을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h3>Service Three</h3>
                            <p>ios html5 flash</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h4>나슬롯이야</h4>
                            <p>andriod 아이콘</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h5>나도슬롯이야</h5>
                            <p>아이콘이 낳을까?</p>
                        </div>

                        <div class="col-sm-2">
                            <img class="img-responsive" src="http://placehold.it/500x300">
                            <h3>Service Three</h3>
                            <p>ios html5 flash</p>
                        </div>



                    </div>
                    <!-- /.row -->



                </div>
                <div class="tab-pane fade" id="service-two">
                    <p>22222</p>
                </div>
            </div>
        </div>
        <!-- Service Images -->
        

    </div>
    <!-- /.container -->
</div>



<div class="section">
    <div class="container">

        <div class="row well">
            <div class="col-lg-8 col-md-8">
                <h4><p>코인 아이콘  비트코인이 쓰기 어렵다구요? 얼마나 편한데 한번 같이 알아볼까요? 이렇게 써도 되고 저렇게 써도 되고 정말 쉽지요. 그래도 모르겠으면 자자 같이 한번 알아봅시다. </p></h4>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="#">자자 더 알아봅시다.</a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
