<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>자자 라이브게임을 즐겨보세요 밑에 보시면 라이브 게임 들이 나와 있어요.</h2>
                <p>여기 뒤로도 이미지 하나 드가면 좋을듯 한데... 그냥 클릭만하면 참 잘되요 ... 머시라머시라 문구가 필요합니다.</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->


<div class="section">
    <div class="container">

        <div class="row">

            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Play Tech</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">이미지
                        </h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">아이콘들</li>
                        <li class="list-group-item"><a class="btn btn-primary">시작</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Game Play</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">이미지
                        </h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">아이콘들</li>
                        <li class="list-group-item"><a class="btn btn-primary">시작</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Microming</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">이미지
                        </h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">아이콘들</li>
                        <li class="list-group-item"><a class="btn btn-primary">시작</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <strong>Taishan</strong>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">이미지
                        </h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">아이콘들</li>
                        <li class="list-group-item"><a class="btn btn-primary">시작</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->
</div>


<div class="section">
    <div class="container">

        <div class="row well">
            <div class="col-lg-8 col-md-8">
                <h4><p>코인 아이콘  비트코인이 쓰기 어렵다구요? 얼마나 편한데 한번 같이 알아볼까요? 이렇게 써도 되고 저렇게 써도 되고 정말 쉽지요. 그래도 모르겠으면 자자 같이 한번 알아봅시다. </p></h4>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="btn btn-lg btn-primary pull-right" href="#">자자 더 알아봅시다.</a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
