<div class="section">

    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/750x450">
            </div>
            <div class="col-md-6">
                <h2>Welcome to Mango Casino</h2>

                <p>이야 망고 카지노에 오신걸 환영해요. 보면 아시겠지만 좀 owesom 한 카지노랍니다. 즐겁게 놀아보아요.</p>

                <p>2016년에 따끈하게 태어날 예정입니다. 아직 세상에 못나가 봤어요 얼른 나가면 좋겠어요. 한 20개만 나가도 좋을거 같아요. 얼른얼른 이뿌게 디자인 마무리해주세요.2016년에 따끈하게 태어날 예정입니다. 아직 세상에 못나가 봤어요 얼른 나가면 좋겠어요. 한 20개만 나가도 좋을거 같아요. 얼른얼른 이뿌게 디자인 마무리해주세요.2016년에 따끈하게 태어날 예정입니다. 아직 세상에 못나가 봤어요 얼른 나가면 좋겠어요. 한 20개만 나가도 좋을거 같아요. 얼른얼른 이뿌게 디자인 마무리해주세요.2016년에 따끈하게 태어날 예정입니다. 아직 세상에 못나가 봤어요 얼른 나가면 좋겠어요. 한 20개만 나가도 좋을거 같아요. 얼른얼른 이뿌게 디자인 마무리해주세요. 옆에 들어갈 자리에도 이미지 이뿌게좀 넣어주세요.저자리들어갈 이미지이름도 정해야되요 이왕이면 여기 문구도 줄 맞춰서 내용이 대충 맞아야 이뿌겠네요.</p>
                <p>그럼 우리 얼른 봐요 ㅎㅎㅎ.</p>
            </div>

        </div>

    </div>

</div>



<div class="section-colored">

    <div class="container">

        <div class="row">
 
            <div class="col-lg-7 col-md-7 col-sm-7">
                <h2>라이센스도 있다.</h2>

                <p>나 이런 사람이야.</p>

                <p>2016년에 라이센스도 가지고 테어나지요 2016년에 라이센스도 가지고 테어나지요2016년에 라이센스도 가지고 테어나지요2016년에 라이센스도 가지고 테어나지요2016년에 라이센스도 가지고 
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive" src="http://placehold.it/500x300/ffffff/cccccc">
            </div>

        </div>

    </div>

</div>





<div class="section">

    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
            <div class="col-md-6">
                <h2>자 우리 망고는 이렇게 해오고 있지요.</h2>
                <ul>
                    <li>2012.01.01 망고시작 <strong>GoGo!!</strong></li>
                    <li>2012.01.01 망고시작 했니? 할거야 말꺼야 할거야 말꺼야할거야 말꺼야할거야 말꺼야할거야 말꺼야할거야 말꺼야할거야 말꺼야할거야 말꺼야할거야 말꺼야할거야 말꺼야</li>
                    <li>2012.01.01 망고시작 할까?</li>
                    <li>2012.01.01 망고시작 하는거야?</li>
                    <li>2012.01.01 망고시작 안했어? 할거야 말꺼야할거야 말꺼야할거야 말꺼야할거야 말꺼야할거야 말꺼야할거야 말꺼야할거야 말꺼야할거야 말꺼야</li>
                    <li>2016.01.01 망고시작 <strong>진짜로 시작좀 해보자!!</strong> 가자가자</li>
                    <li>2012.01.01 망고시작 하는거야?</li>
                    <li>2012.01.01 라이센스같은건 언제 따서 언제 쓰고 어쩌고 저쩌구 아몰랑</li>
                    <li>2012.01.01 망고시작 하는거야?</li>
                    <li>2012.01.01 망고시작 하는거야?</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->




<div class="section">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Our Parthner</h2>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </div>

        </div>

    </div>
    <!-- /.container -->
</div>
