<div class="section">

    <div class="container">

        <div class="row">

            <div class="col-md-1">
                <p><i class="fa fa-database fa-4x"></i>
                </p>프로모션 종류용 아이콘
                <p>May 24, 2013</p>
            </div>
            <div class="col-md-5">
                    <img src="http://placehold.it/600x300" class="img-responsive">
            </div>
            <div class="col-md-6">
                <h3><a href="#">첫충전 준다야옴</a>
                </h3>
                <p>by admin
                </p>
                <p>얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요</p>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-md-1">
                <p><i class="fa fa-money fa-4x"></i>
                </p>프로모션 종류용 아이콘
                <p>May 24, 2013</p>
            </div>
            <div class="col-md-5">
                    <img src="http://placehold.it/600x300" class="img-responsive">
            </div>
            <div class="col-md-6">
                <h3>이건 신청해야 준다 (링크없어도 색상 이뿌게 해주삼)
                </h3>
                <p>by spowix (저위에 본사에서 하는거래)
                </p>
                <p>얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요</p>
                <button class="btn btn-primary">신청하기</button>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-md-1">
                <p><i class="fa fa-btc fa-4x"></i>
                </p>

                <p>May 24, 2013</p>
            </div>
            <div class="col-md-5">
                    <img src="http://placehold.it/600x300" class="img-responsive">
            </div>
            <div class="col-md-6">
                <h3><a href="#">이건 신청해야 준다 준다야옴</a>
                </h3>
                <p>by admin
                </p>
                <p>먼저 누르면 임자 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요 얼른 오셔요 지금 오면 첫충전 준다음 선찾순이니까 서두르세요</p>
                <button class="btn btn-primary">이벤트참여 등등 한 몇가지 만들어 놓자</button>
            </div>
        </div>

        <hr>

        <div class="row">
            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>

        <hr>

    </div>
    <!-- /.container -->
</div>