<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Mango Skeleton</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/"><img ng-src="img/logo.png" width="150"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/livecasino">Live Casino</a>
                </li>
                <li><a href="#/casinoslot">Casino Slot</a>
                </li>
                <li><a href="#/deposit">Deposit</a>
                </li>
                <li><a href="#/withdraw">Withdraw</a>
                </li>
                <li><a href="#/promotion">Promotion</a>
                </li>
                <li><button>login</button>
                </li>
                <li><button>sign up</button>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">ko<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/eng">english</a>
                        </li>
                        <li><a href="#/kor">한국어</a>
                        </li>
                        <li><a href="#/cha">中国</a>
                        </li>
                        <li><a href="#/jpn">日本語</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
